config GOOGLE_VOTABLE
	tristate "Google votable interface"
	help
	  Say Y here to enable the google voter API. The module is used from
	  GBMS to arbitrate the access and manage the state of shared resources.

	  To compile this driver as a module, choose M here: the module will be
	  called gvotable.

config GOOGLE_LOGBUFFER
	tristate "Google logbuffer"
	help
	  Say Y here to enable the logbuffer driver from Google LLC. The driver
	  exposes an API that allow drivers in GBMS and TCPM to log internal
	  and debug information that cannot be routed to syslog to a separate
	  ringbuffer. The content of the ringbuffer is accessible as a character
	  device.

	  To compile this driver as a module, choose M here: the module will be
	  called logbuffer.
