# SPDX-License-Identifier: GPL-2.0-only
#
# Near Field Communication (NFC) devices
#

config NFC_ST21NFC
	tristate "ST Microelectronics ST21NFC NFC Controller Driver"
	depends on I2C
	help
	 ST Microelectronics ST21NFC Near Field Communication controller support.

config NFC_ST21NFC_NO_CRYSTAL
	bool "ST Microelectronics ST21NFC NFC Controller Driver, no external crystal"
	depends on NFC_ST21NFC
	help
	 ST Microelectronics ST21NFC Near Field Communication controller support.

config ESE_ST54
	tristate "ST Microelectronics ST54 family ESE driver"
	depends on SPI
	help
	  ST Microelectronics ST54 ESE Near Field Communication controller support.

config ESE_ST33
	tristate "ST Microelectronics ST33 ESE driver"
	depends on SPI
	help
	  ST Microelectronics ST33 ESE Near Field Communication controller support.
