// SPDX-License-Identifier: GPL-2.0-only
/*
 * Google GS101 Common Audio Device Tree Source
 *
 * Copyright (c) 2020 Google, LLC
 *		https://www.google.com
 *
*/

#include <dt-bindings/pinctrl/samsung.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/sound/google-aoc.h>

/ {
	V_SYS_dummy: cs35l41_dummy_regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "V_SYS_DUMMY";
		regulator-min-microvolt = <4200000>;
		regulator-max-microvolt = <4200000>;
		regulator-boot-on;
		regulator-always-on;
	};

	aoc_pcm_ep: aoc_pcm_drv {
		compatible = "google-aoc-snd-pcm";
	};

	aoc_voice_ep: aoc_voice_drv {
		compatible = "google-aoc-snd-voice";
	};

	aoc_compr_ep: aoc_compr_drv {
		compatible = "google-aoc-snd-compr";
	};

	aud_aoc_path: aoc_path {
		#sound-dai-cells = <1>;
		compatible = "google-aoc-path";
	};

	aoc_snd_card: sound-aoc {
		compatible = "google-aoc-snd-card";
		aoc-card-name = "google,aoc-snd-card";

		dai_link {
			dai_fe_ep1_rx: fe_ep1_rx {
				dai-name = "audio_playback0";
				stream-name = "EP1 playback";
				id = <IDX_EP1_RX>;
				dynamic;
				playback;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP1_RX>;
				};
				platform {
					rx1 {
						of_drv = <&aoc_pcm_ep>;
					};
				};
			};

			dai_fe_ep2_rx: fe_ep2_rx {
				dai-name = "audio_playback1";
				stream-name = "EP2 playback";
				id = <IDX_EP2_RX>;
				dynamic;
				playback;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP2_RX>;
				};
				platform {
					rx1 {
						of_drv = <&aoc_pcm_ep>;
					};
				};
			};

			dai_fe_ep3_rx: fe_ep3_rx  {
				dai-name = "audio_playback2";
				stream-name = "EP3 playback";
				id = <IDX_EP3_RX>;
				dynamic;
				playback;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP3_RX>;
				};
				platform {
					rx1 {
						of_drv = <&aoc_pcm_ep>;
					};
				};
			};

			dai_fe_ep4_rx: fe_ep4_rx  {
				dai-name = "audio_playback3";
				stream-name = "EP4 playback";
				id = <IDX_EP4_RX>;
				dynamic;
				playback;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP4_RX>;
				};
				platform {
					rx1 {
						of_drv = <&aoc_pcm_ep>;
					};
				};
			};

			dai_fe_ep5_rx: fe_ep5_rx  {
				dai-name = "audio_playback4";
				stream-name = "EP5 playback";
				id = <IDX_EP5_RX>;
				dynamic;
				playback;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP5_RX>;
				};
				platform {
					vorx {
						of_drv = <&aoc_voice_ep>;
					};
				};
			};

			dai_fe_ep6_rx: fe_ep6_rx {
				dai-name = "audio_playback5";
				stream-name = "EP6 playback";
				id = <IDX_EP6_RX>;
				dynamic;
				playback;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP6_RX>;
				};
				platform {
					rx1 {
						of_drv = <&aoc_pcm_ep>;
					};
				};
			};

			dai_fe_ep7_rx: fe_ep7_rx  {
				dai-name = "audio_playback6";
				stream-name = "EP7 playback";
				id = <IDX_EP7_RX>;
				dynamic;
				playback;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP7_RX>;
				};
				platform {
					rx1 {
						of_drv = <&aoc_compr_ep>;
					};
				};
			};

			dai_fe_ep8_rx: fe_ep8_rx  {
				dai-name = "audio_haptics";
				stream-name = "EP8 playback";
				id = <IDX_EP8_RX>;
				dynamic;
				playback;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP8_RX>;
				};
				platform {
					rx1 {
						of_drv = <&aoc_pcm_ep>;
					};
				};
			};

			dai_fe_ep1_tx: fe_ep1_tx  {
				dai-name = "audio_capture0";
				stream-name = "EP1 capture";
				id = <IDX_EP1_TX>;
				dynamic;
				capture;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP1_TX>;
				};
				platform {
					tx1 {
						of_drv = <&aoc_pcm_ep>;
					};
				};
			};

			dai_fe_ep2_tx: fe_ep2_tx {
				dai-name = "audio_capture1";
				stream-name = "EP2 capture";
				id = <IDX_EP2_TX>;
				dynamic;
				capture;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP2_TX>;
				};
				platform {
					tx1 {
						of_drv = <&aoc_pcm_ep>;
					};
				};
			};

			dai_fe_ep3_tx: fe_ep3_tx {
				dai-name = "audio_capture2";
				stream-name = "EP3 capture";
				id = <IDX_EP3_TX>;
				dynamic;
				capture;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP3_TX>;
				};
				platform {
					tx1 {
						of_drv = <&aoc_pcm_ep>;
					};
				};
			};

			dai_fe_ep4_tx: fe_ep4_tx {
				dai-name = "audio_capture3";
				stream-name = "EP4 capture";
				id = <IDX_EP4_TX>;
				dynamic;
				capture;
				cpu {
					sound-dai = <&aud_aoc_path IDX_EP4_TX>;
				};
				platform {
					votx {
						of_drv = <&aoc_voice_ep>;
					};
				};
			};

			dai_be_i2s0_rx: be_i2s0_rx {
				dai-name = "I2S_0_RX Playback";
				stream-name = "I2S_0_RX Playback";
				id = <I2S_0_RX>;
				playback;
				no-pcm;
				useops;
				usefixup;
				cpu {
					sound-dai = <&aud_aoc_path I2S_0_RX>;
				};
				daifmt {
					dai-format = "i2s";
				};
			};

			dai_be_i2s0_tx: be_i2s0_tx {
				dai-name = "I2S_0_TX Capture";
				stream-name = "I2S_0_TX Capture";
				id = <I2S_0_TX>;
				capture;
				no-pcm;
				useops;
				usefixup;
				cpu {
					sound-dai = <&aud_aoc_path I2S_0_TX>;
				};
				daifmt {
					dai-format = "i2s";
				};
			};

			dai_be_i2s1_rx: be_i2s1_rx {
				dai-name = "I2S_1_RX Playback";
				stream-name = "I2S_1_RX Playback";
				id = <I2S_1_RX>;
				playback;
				no-pcm;
				useops;
				usefixup;
				cpu {
					sound-dai = <&aud_aoc_path I2S_1_RX>;
				};
				daifmt {
					dai-format = "i2s";
				};
			};

			dai_be_i2s1_tx: be_i2s1_tx {
				dai-name = "I2S_1_TX Capture";
				stream-name = "I2S_1_TX Capture";
				id = <I2S_1_TX>;
				capture;
				no-pcm;
				useops;
				usefixup;
				cpu {
					sound-dai = <&aud_aoc_path I2S_1_TX>;
				};
				daifmt {
					dai-format = "i2s";
				};
			};

			dai_be_i2s2_rx: be_i2s2_rx {
				dai-name = "I2S_2_RX Playback";
				stream-name = "I2S_2_RX Playback";
				id = <I2S_2_RX>;
				playback;
				no-pcm;
				useops;
				usefixup;
				cpu {
					sound-dai = <&aud_aoc_path I2S_2_RX>;
				};
				daifmt {
					dai-format = "i2s";
					bitclock-inversion;
				};
			};

			dai_be_i2s2_tx: be_i2s2_tx{
				dai-name = "I2S_2_TX Capture";
				stream-name = "I2S_2_TX Capture";
				id = <I2S_2_TX>;
				capture;
				no-pcm;
				useops;
				usefixup;
				cpu {
					sound-dai = <&aud_aoc_path I2S_2_TX>;
				};
				daifmt {
					dai-format = "i2s";
				};
			};

			dai_be_tdm0_rx: be_tdm0_rx {
				dai-name = "TDM_0_RX Playback";
				stream-name = "TDM_0_RX Playback";
				id = <TDM_0_RX>;
				playback;
				no-pcm;
				useops;
				usefixup;
				cpu {
					sound-dai = <&aud_aoc_path TDM_0_RX>;
				};
				daifmt {
					dai-format = "dsp_a";
				};
			};

			dai_be_tdm0_tx: be_tdm0_tx {
				dai-name = "TDM_0_TX Capture";
				stream-name = "TDM_0_TX Capture";
				id = <TDM_0_TX>;
				capture;
				no-pcm;
				useops;
				usefixup;
				cpu {
					sound-dai = <&aud_aoc_path TDM_0_TX>;
				};
				daifmt {
					dai-format = "dsp_a";
				};
			};

			dai_be_tdm1_rx: be_tdm1_rx  {
				dai-name = "TDM_1_RX Playback";
				stream-name = "TDM_1_RX Playback";
				id = <TDM_1_RX>;
				playback;
				no-pcm;
				useops;
				usefixup;
				cpu {
					sound-dai = <&aud_aoc_path TDM_1_RX>;
				};
				daifmt {
					dai-format = "i2s";
				};
			};

			dai_be_tdm1_tx: be_tdm1_tx {
				dai-name = "TDM_1_TX Capture";
				stream-name = "TDM_1_TX Capture";
				id = <TDM_1_TX>;
				capture;
				no-pcm;
				useops;
				usefixup;
				cpu {
					sound-dai = <&aud_aoc_path TDM_1_TX>;
				};
				daifmt {
					dai-format = "i2s";
				};
			};
		};

		aoc_audio_cfg: aoc-audio-cfg{
			aoc-audio-config = "generic";
		};
	};

	max98357a_hac: max98357a {
		compatible = "maxim,max98357a";
		#sound-dai-cells = <0>;

		status = "disabled";
	};
};
