// SPDX-License-Identifier: GPL-2.0-only
/*
 * Battery device tree entries specific to oriole
 *
 * Copyright 2021 Google,LLC
 *
 */

#include "gs101-raviole-battery.dtsi"

&google_battery {
	google,chg-battery-capacity = <4520>;
};

&max77759_fg {
	maxim,fg-data {
		#include "gs101-oriole-battery-data.dtsi"
	};
};

&pca9468_dc {
	pca9468,charging-current = <4520000>; /* 4.5A */
	pca9468,input-current-limit = <3000000>; /* 3.0A */
};

/ {
	fragment@battery {
		target-path = "/";
		__overlay__ {
			google_bms {
				nvmem-names = "4-00500";
				/* pack eeprom is available only with P20+ batteries */
				google,bee-name = "4-00500";
			};
		};
	};
};