// SPDX-License-Identifier: GPL-2.0-only
/*
 * Google Slider Board device tree source
 *
 * Copyright 2020 Google, LLC.
 */

#include "gs101-common-touch.dtsi"

&spitouch {
	status = "ok";
	compatible = "st,fts";
	spi-max-frequency = <10000000>;

	pinctrl-names = "pmx_ts_active", "pmx_ts_suspend";

	st,irq-gpio = <&gpa9 0 0>;
	st,reset-gpio = <&gpp26 0 0>;

	/* Either st,panel_map or st,max-coords should be used
	 * in the product touch dtsi */

	controller-data {
		samsung,spi-feedback-delay = <1>;
		samsung,spi-chip-select-mode = <0>;
	};
};
