// SPDX-License-Identifier: GPL-2.0-only
/*
 * GS101 SoC silicon revision B0
 *
 * Copyright 2020 Google LLC
 *
 */

/dts-v1/;
/ {
	/* soc revision info */
	soc_id = <0x09845001 0x00000000>;
};

#include "gs101.dtsi"
