// SPDX-License-Identifier: GPL-2.0-only
/*
 * Battery device tree entries specific to raven
 *
 * Copyright 2021 Google,LLC
 *
 */

&google_battery {
	google,chg-battery-capacity = <4000>;

	/* charge table */
	google,chg-temp-limits = <0 100 200 420 460 480 550>;
	google,chg-cv-limits = <4200000 4300000 4400000>;
	google,chg-cc-limits = <
		 30  10   0
		 50  30  30
		100  70  50
		 80  50  50
		 50  50   0
		 30   0   0
	>;
};

&max77759_fg {
	maxim,fg-data {
		#include "gs101-raven-battery-data.dtsi"
	};
};