// SPDX-License-Identifier: GPL-2.0-only
/*
 * Oriole proto1.0/1.1 common devicetree
 *
 * Copyright 2021 Google,LLC
 */

#include "gs101-oriole-common.dtsi"

#include "gs101-oriole-battery.dtsi"
#include "gs101-oriole-camera-pmic.dtsi"
#include "gs101-oriole-wcharger.dtsi"
