// SPDX-License-Identifier: GPL-2.0-only
/*
 * slider board device tree source
 *
 * Copyright 2019 Google LLC
 *
 */

#include "gs101-slider-trusty.dtsi"

/ {
	fragment@model {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <1>;
		};
	};
};

&serial_0 {
	status = "okay";
};

&pinctrl_1 {
	key_voldown: key-voldown {
		samsung,pins = "gpa7-3";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	key_volup: key-volup {
		samsung,pins = "gpa8-1";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
};

&pinctrl_0 {
	key_power: key-power {
		samsung,pins = "gpa10-1";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
};

&gpio_keys {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&key_voldown &key_volup &key_power>;
	button@1 {
		label = "gpio-keys: KEY_VOLUMEDOWN";
		linux,code = <114>;
		gpios = <&gpa7 3 0xf>;
	};
	button@2 {
		label = "gpio-keys: KEY_VOLUMEUP";
		linux,code = <115>;
		gpios = <&gpa8 1 0xf>;
	};
	button@3 {
		label = "gpio-keys: KEY_POWER";
		linux,code = <116>;
		gpios = <&gpa10 1 0xf>;
		gpio-key,wakeup = <1>;
	};
};
