// SPDX-License-Identifier: GPL-2.0
/*
 * Google GS101 Board device tree source
 *
 * Copyright (c) 2020 Google, LLC
 *		https://www.google.com
 *
*/

#include <dt-bindings/pinctrl/samsung.h>
#include <dt-bindings/gpio/gpio.h>

&spi_6 {
	/* XAPC_USI6 */
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi6_bus &spi6_cs>;

	cs-gpios = <&gpp12 3 GPIO_ACTIVE_HIGH>;

	ese2: ese@0 {
		compatible = "st,st33spi";
		reg = <0>;
		spi-max-frequency = <8000000>;
		esereset-gpio = <&gph0 4 GPIO_ACTIVE_HIGH>;
		power_mode = "ST33";

		controller-data {
			cs-gpio = <&gpp12 3 GPIO_ACTIVE_HIGH>;
			cs-clock-delay = <10>;
			samsung,spi-chip-select-mode = <0>;
		};
	};
};

&spi_14 {
	/* XAPC_USI14 */
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi14_bus &spi14_cs>;
	cs-gpios = <&gpp18 3 GPIO_ACTIVE_HIGH>;

	ese1: ese@0 {
		compatible = "st,st54spi";
		reg = <0>;
		spi-max-frequency = <8000000>;
		esereset-gpio = <&gpp26 3 GPIO_ACTIVE_HIGH>;
		power_mode = "ST54J";

		controller-data {
			cs-gpio = <&gpp18 3 GPIO_ACTIVE_HIGH>;
			cs-clock-delay = <10>;
			samsung,spi-chip-select-mode = <0>;
		};
	};
};


