// SPDX-License-Identifier: GPL-2.0-only
/*
 * Battery device tree entries specific to raven
 *
 * Copyright 2021 Google,LLC
 *
 */

&google_battery {
	google,chg-battery-capacity = <4905>;
};

&max77759_fg {
	maxim,fg-data {
		#include "gs101-raven-battery-data.dtsi"
	};
};