// SPDX-License-Identifier: GPL-2.0-only
/*
 * SAMSUNG EXYNOS SoC device tree source
 *
 * Copyright (c) 2019 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 */

/ {
	dsim_modes: dsim_modes {
		/* parameters used to calcuate dsim_mode at runtime */
		pll-input = /bits/ 64 <24576000>; /* 24.576 MHz */
		pll-optimum = /bits/ 64 <13000000>; /* 13 MHz */
		pll-out-range = /bits/ 64 <52000000 6600000000>; /* 55 to 6600 MHz*/
		pll-vco-range = /bits/ 64 <3300000000 6600000000>; /* 3300 to 6600 MHz */
		p-range = <1 63>; /* inclusive */
		m-range = <64 1023>; /* inclusive */
		s-range = <0 6>; /* inclusive */
		k-bits = <16>; /* K is a two's complement 16-bit intger */

		te-idle = <1000>; /* microsecond */
		te-var = <1>; /* te variation, percentage */

		dsim-modes {
			1440x3040 {
				mode-name = "1440x3040";
				/*
				 * p m s k
				 * mfr mrr sel_pf icp
				 * afc_enb extafc feed_en fsel
				 * fout_mask rsel
				 */
				pmsk = <
					0x2 0x8A 0x2 0x2762
					0xd 0x3 0x0 0x0
					0x0 0x0 0x0 0x0
					0x0 0x0
					>;
				hs-clk = <898>;
				esc-clk = <20>;
				cmd_underrun_cnt = <2877>;
			};
			1440x2960 {
				mode-name = "1440x2960";
				pmsk = <
					0x2 0x8A 0x2 0x2762
					0xd 0x3 0x0 0x0
					0x0 0x0 0x0 0x0
					0x0 0x0
					>;
				hs-clk = <898>;
				esc-clk = <20>;
				cmd_underrun_cnt = <3022>;
			};
			1080x2340 {
				mode-name = "1080x2340";
				pmsk = <
					0x2 0xB3 0x3 0x0955 /* p m s k */
					>;
				hs-clk = <550>;
				esc-clk = <20>;
				cmd_underrun_cnt = <2032>;
			};
			1440x3120 {
				mode-name = "1440x3120";
				pmsk = <
					0x2 0xF3 0x2 0x8355 /* p m s k */
					>;
				hs-clk = <1490>;
				esc-clk = <20>;
				cmd_underrun_cnt = <1575>;
			};
			1080x2400 {
				mode-name = "1080x2400";
				pmsk = <
					0x2 0xD4 0x3 0x96AB /* p m s k */
					>;
				hs-clk = <650>;
				esc-clk = <20>;
				cmd_underrun_cnt = <802>;
			};
		};
	};
};
