// SPDX-License-Identifier: GPL-2.0-only
/*
 * Battery device tree entries specific to raven
 *
 * Copyright 2021 Google,LLC
 *
 */


&pca9468_dc {
	pca9468,input-current-limit = <3000000>; /* 3.0A */
};

&google_charger {
	google,thermal-mitigation = <4905000 4000000
				2500000 1250000 500000>;
	google,wlc-fcc-thermal-mitigation = <4905000 2500000 1250000 625000>;
};
