// SPDX-License-Identifier: GPL-2.0-only
/*
 * Oriole Proto 1.0 common device tree source
 * Included for proto1 and wingboard.
 *
 * The Wingboard has the Proto1.1 Camera PMIC.
 *
 * Copyright 2021 Google,LLC
 */
#include "gs101-oriole.dtsi"
#include "gs101-oriole-camera-proto1.dtsi"
#ifndef GS101_ORIOLE_WINGBOARD
#include "gs101-raviole-camera-pmic-proto1.dtsi"
#endif
#include "gs101-raviole-ldaf-proto1.dtsi"


