// SPDX-License-Identifier: GPL-2.0
/*
 * GS101 SoC reserved memory
 *
 * Copyright 2019 Google LLC
 */

/ {
	reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <1>;
		ranges;
	};
};
