// SPDX-License-Identifier: GPL-2.0-only
/*
 * Display nodes for slider-related boards.
 *
 * Copyright 2021 Google LLC
 *
 */

&drmdsim0 {
	#address-cells = <1>;
	#size-cells = <0>;

	panel@0 {
		compatible = "samsung,s6e3hc2-fhd";
		label = "samsung-s6e3hc2-fhd";
		channel = <0>;
		/* touch = <&spitouch>; */

		/* reset, power */
		reset-gpios = <&gpa7 1 GPIO_ACTIVE_HIGH>;
		vci-supply = <&m_ldo27_reg>;
		vddi-supply = <&m_ldo24_reg>;
	};
	panel@1 {
		compatible = "samsung,emul";
		label = "samsung-emul";
		channel = <0>;

		/* reset, power */
		reset-gpios = <&gpa7 1 GPIO_ACTIVE_HIGH>;
	};
};

&drmdsim1 {
	#address-cells = <1>;
	#size-cells = <0>;

	panel@0 {
		compatible = "samsung,s6e3hc3";
		label = "samsung-s6e3hc3";
		channel = <0>;

		/* reset, power */
		reset-gpios = <&gpp23 0 GPIO_ACTIVE_HIGH>;
		vci-supply = <&s_ldo6_reg>;
		vddi-supply = <&s_bucka_reg>;
	};
	panel@1 {
		compatible = "samsung,emul";
		label = "samsung-emul";
		channel = <0>;

		/* reset, power */
		reset-gpios = <&gpp23 0 GPIO_ACTIVE_HIGH>;
	};
};

/* Keep VDDIs always on */
&m_ldo24_reg {
	regulator-always-on;
};
&s_bucka_reg {
	regulator-always-on;
};
