// SPDX-License-Identifier: GPL-2.0-only
/*
 * Display nodes for slider-related boards.
 *
 * Copyright 2021 Google LLC
 *
 */

&drmdsim0 {
	samsung_s6e3hc3: panel@0 {
		compatible = "samsung,s6e3hc3";
		label = "samsung-s6e3hc3";
		channel = <0>;

		/* reset, power */
		reset-gpios = <&gpa7 1 GPIO_ACTIVE_HIGH>;
		vddd-supply = <&m_ldo28_reg>;
		vddd-normal-microvolt = <1200000>;
		vddd-lp-microvolt = <1050000>;
		vci-supply = <&m_ldo27_reg>;
		vddi-supply = <&s_bucka_reg>;
	};
	panel@1 {
		compatible = "samsung,emul";
		label = "samsung-emul";
		channel = <0>;

		/* reset, power */
		reset-gpios = <&gpa7 1 GPIO_ACTIVE_HIGH>;
	};
};

/* Keep VDDI always on */
&s_bucka_reg {
	regulator-always-on;
};

/* vci-supply voltage */
&m_ldo27_reg {
	regulator-min-microvolt = <3025000>;
	regulator-max-microvolt = <3025000>;
};

/* vddd-supply voltage */
&m_ldo28_reg {
	regulator-min-microvolt = <1050000>;
	regulator-max-microvolt = <1200000>;
	regulator-ramp-delay = <1200>;
	regulator-enable-ramp-delay = <125>;
};
