##########################################################
#           init.insmod.cloudripper.cfg                  #
# This file contains cloudripper specific kernel modules #
# to load at init time by init.insmod.sh script          #
##########################################################

# Load device specific kernel modules
# Modules here will be loaded *after* all common modules
modprobe|bcmdhd4389.ko
modprobe|snd-soc-cs35l41-i2c.ko
modprobe|ftm5.ko
modprobe|sec_touch.ko
modprobe|cs40l26-i2c.ko
modprobe|snd-soc-cs40l26.ko

# All device specific modules loaded
setprop|vendor.device.modules.ready
setprop|vendor.all.modules.ready
setprop|vendor.all.devices.ready
