# SPDX-License-Identifier: GPL-2.0

config GSA
	tristate "GSA driver"
	default n

config GSA_PKVM
	tristate "Support pKVM"
	depends on GSA
	depends on PKVM_S2MPU_V9 || PKVM_S2MPU
	default n

config GSA_GSC
	tristate "GSC Proxy"
	depends on GSA
	default n

config TZ_PROT
	tristate "TZ Prot"
	depends on GSA
	default n
