// SPDX-License-Identifier: GPL-2.0
/*
 * Google GS101 Board device tree source
 *
 * Copyright (c) 2021 Google, LLC
 *		https://www.google.com
 *
*/

#include <arm64/exynos/exynos-pinctrl.h>
#include "gs101-pinctrl.h"
#include <dt-bindings/gpio/gpio.h>

&pinctrl_6 {
	ese1_spi_rst: ese1-spi-rst {
		samsung,pins ="gph1-4";
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
	};
	ese2_spi_rst: ese2-spi-rst {
		samsung,pins ="gph0-4";
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
	};
};

&spi10_bus {
	samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
	samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
};

&spi10_cs {
	samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
	samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
};

&spi17_bus {
	samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
	samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
};

&pinctrl_0 {
	spi17_bus_off: spi17-bus-off {
		samsung,pins = "gpa4-0", "gpa4-1", "gpa4-2";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_DOWN>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
		samsung,pin-val = <0>;
	};
	spi17_cs_on: spi17-cs-on {
		samsung,pins = "gpa4-3";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-val = <1>;
	};
	spi17_cs_off: spi17-cs-off {
		samsung,pins = "gpa4-3";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_DOWN>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
		samsung,pin-val = <0>;
	};
};

&spi_17 {
	/* XAPM_USI0 */
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	cs-gpios = <&gpa4 3 GPIO_ACTIVE_HIGH>;

	ese2: ese@0 {
		compatible = "st,st33spi";
		reg = <0>;
		spi-max-frequency = <8000000>;
		esereset-gpio = <&gph0 4 GPIO_ACTIVE_HIGH>;
		power_mode = "ST33";
		pinctrl-names = "default","on","off";
		pinctrl-0 = <&spi17_bus_off &spi17_cs_off &ese2_spi_rst>;
		pinctrl-1 = <&spi17_bus &spi17_cs_on &ese2_spi_rst>;
		pinctrl-2 = <&spi17_bus_off &spi17_cs_off &ese2_spi_rst>;

		controller-data {
			cs-gpio = <&gpa4 3 GPIO_ACTIVE_HIGH>;
			cs-clock-delay = <10>;
			cs-init-state = <0>;
			samsung,spi-chip-select-mode = <0>;
		};
	};
};

&spi_10 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi10_bus &spi10_cs &ese1_spi_rst>;
	cs-gpios = <&gpp21 3 GPIO_ACTIVE_HIGH>;

	ese1: ese@0 {
		compatible = "st,st54spi";
		reg = <0>;
		spi-max-frequency = <8000000>;
		esereset-gpio = <&gph1 4 GPIO_ACTIVE_HIGH>;
		power_mode = "ST54J";

		controller-data {
			cs-gpio = <&gpp21 3 GPIO_ACTIVE_HIGH>;
			cs-clock-delay = <10>;
			samsung,spi-chip-select-mode = <0>;
		};
	};
};

