config INPUT_DRV2624_HAPTICS
        tristate "TI DRV2624 haptics support"
        depends on INPUT && I2C
        select INPUT_FF_MEMLESS
        select REGMAP_I2C
        help
          Say Y to enable support for the TI DRV2624 haptics driver.

          To compile this driver as a module, choose M here: the
          module will be called drv2624-haptics.
