# SPDX-License-Identifier: GPL-2.0-only
#

if INPUT_KEYBOARD

config KEYBOARD_S2MPG12
	tristate "Samsung Electronics S2MPG12 Powerkey Controller"
	depends on I2C
	depends on MFD_S2MPG12

config KEYBOARD_S2MPG14
       tristate "Samsung Electronics S2MPG14 Powerkey Controller"

endif # INPUT_KEYBOARD
