# SPDX-License-Identifier: GPL-2.0-only

config CLKSRC_EXYNOS_MCT_GS
	tristate "Exynos multi core timer driver in Google SoCs"
	depends on ARM || ARM64
	help
	  Support for Multi Core Timer controller in certain Google SoCs.

config CLKSRC_EXYNOS_MCT_V3_GS
	tristate "Exynos multi core timer (version 3) driver in Google SoCs"
	depends on ARM || ARM64
	help
	  Support for Multi Core Timer controller (version 3) in certain Google SoCs.
