config VIDEO_EXYNOS_MFC
	tristate "Exynos MFC Driver"
	default n
	depends on VIDEO_EXYNOS
	select VIDEOBUF2_CORE
	select VIDEOBUF2_DMA_SG
	---help---
	  MFC driver for V4L2.

config MFC_USES_LLC
	  bool "MFC LLC support"
	  default y
	  depends on VIDEO_EXYNOS_MFC
	  help
	  Uses the LLC of MFC.

config MFC_USE_DMABUF_CONTAINER
	bool "MFC dma-buf container support"
	default n
	depends on VIDEO_EXYNOS_MFC
	---help---
	  Use dma-buf container for MFC.
