##########################################################
#           init.insmod.tangorpro.cfg                    #
# This file contains tangorpro specific kernel modules   #
# to load at init time by init.insmod.sh script          #
##########################################################

# Load device specific kernel modules
# Modules here will be loaded *after* all common modules
modprobe|synadhd.ko
modprobe|snd-soc-cs35l41-spi.ko
modprobe|goog_usi_stylus.ko
modprobe|nvt_touch.ko
modprobe|fpc1020_platform_tee.ko

# All device specific modules loaded
setprop|vendor.device.modules.ready
setprop|vendor.all.modules.ready
setprop|vendor.all.devices.ready
