# SPDX-License-Identifier: GPL-2.0-only

#
# Watchdog device configuration
#

if WATCHDOG

# ARM Architecture

config S3C2410_WATCHDOG_GS
	tristate "S3C2410 Watchdog in Google SoCs"
	select WATCHDOG_CORE
	help
	  Watchdog timer block in the Samsung SoCs and some Google SoCs. This
	  will reboot the system when the timer expires with the watchdog
	  enabled.

	  The driver is limited by the speed of the system's PCLK
	  signal, so with reasonably fast systems (PCLK around 50-66MHz)
	  then watchdog intervals of over approximately 20seconds are
	  unavailable.

	  The driver can be built as a module by choosing M, and will
	  be called s3c2410_wdt

config S3C2410_SHUTDOWN_REBOOT
	bool "Support watchdog reset after watchdog shutdown"
	depends on S3C2410_WATCHDOG_GS
	default n
	help
	  This config disable the shutdown function of S3C2410 watchdog.
	  To prevent stuck after watchdog driver shutdown, shutdown
	  function will not stop or disable watchdog and it will just
	  kick 30 second. It will prevent being stucked in reset
	  sequence with some other failure.
	  This feature is not recommeneded for debugging.

endif # WATCHDOG
