menu "EdgeTPU devices"

config EDGETPU_FRAMEWORK
	tristate "EdgeTPU framework"
	depends on X86_64 || ARM64
	select DMA_SHARED_BUFFER
	select GENERIC_ALLOCATOR
	select IOMMU_API
	select SYNC_FILE
	help
	  This framework supports darwinn-2.0 devices.

config JANEIRO
	tristate "Janeiro ML accelerator device driver"
	depends on EDGETPU_FRAMEWORK
	select PM
	help
	  This driver supports the Janeiro device.  Say Y if you want to
	  include this driver in the kernel.

	  To compile this driver as a module, choose M here.  The module
	  will be called "janeiro".

config EDGETPU_EXTERNAL_WRAPPER_CLASS
        bool "EdgeTPU add external wrapper class"
	depends on EDGETPU_FRAMEWORK
	default n
	help
	  Selected if an external wrapper class is to be used.  This option is
	  intended to be auto-selected by other config options that depend on
	  external classes that wrap the EdgeTPU core driver and is not
	  intended for interactive use.

config EDGETPU_TELEMETRY_TRACE
	bool "Build EdgeTPU driver with firmware tracing support"
	depends on EDGETPU_FRAMEWORK
	default y
	help
	  Say Y to have the driver handle the tracing events sent from the
	  firmware. Enable this will increase the time for setup, suggest to
	  disable this in production mode to reduce the software overhead.

	  It's fine to have this enabled even the firmware doesn't send tracing
	  events.

endmenu
