#
# Misc strange devices
#

config HAPTICS_CS40L2X
	tristate "Cirrus Logic CS40L20/CS40L25/CS40L25A/CS40L25B haptics driver"
	depends on I2C && SYSFS && NEW_LEDS
	help
	  Boosted Haptics Driver with Integrated DSP and Waveform Memory
	  with Closed Loop Algorithms and LRA Protection

config SND_SOC_CS40L2X
	tristate "Cirrus Logic CS40L20/CS40L25/CS40L25A/CS40L25B PCM haptics PCM driver"
	depends on HAPTICS_CS40L2X
	help
	  Haptics PCM Driver with Integrated DSP and Waveform Memory
	  with Closed Loop Algorithms and LRA Protection
