# SPDX-License-Identifier: GPL-2.0-only
#
# GS CPU Frequency scaling drivers
#

config ARM_EXYNOS_ACME
	tristate "SAMSUNG EXYNOS ACME(A Cpufreq that Meets Every chipset) driver"
	default n
	help
	  This adds the CPUFreq driver for every exynos chipset. Exynos
	  ACME supported SoC must use the exynos CAL framework.

	  If in doubt, say N.
