# SPDX-License-Identifier: GPL-2.0-only
# kernel vendor hook modules

config VH_SCHED
        tristate "Vendor hooks for kernel scheduler"
        depends on VH_KERNEL
        default m

config VH_MIN_CAPACITY_CPU
        int "Starting cpu of min capacity cluster"
        depends on VH_KERNEL
        default 0

config VH_MID_CAPACITY_CPU
        int "Starting cpu of mid capacity cluster"
        depends on VH_KERNEL
        default 4

config VH_MAX_CAPACITY_CPU
        int "Starting cpu of max capacity cluster"
        depends on VH_KERNEL
        default 6

config VH_HIGH_CAPACITY_CPU
        int "Starting cpu of high capacity cluster"
        depends on VH_KERNEL
        default 4

config VH_SCHED_CPU_NR
        int "CPU number on this platform"
        depends on VH_KERNEL
        default 8
