# SPDX-License-Identifier: GPL-2.0

config PCI_EXYNOS_GS
	tristate "Exynos GS PCIe controller"
	depends on PCI
	depends on OF
	depends on PCI_MSI_IRQ_DOMAIN
	select PCIEPORTBUS
	select PCIE_DW_HOST

config PCI_EXYNOS_CAL_GS201
	tristate "Samsung Exynos PCIe PHY CAL for GS201"
	depends on PCI
	depends on OF
	depends on PCI_MSI_IRQ_DOMAIN
	select PCIE_DW_HOST
	help
	  Enables support for the PCIe controller in the Samsung Exynos SoCs
	  for GS101 to work in host mode. The PCI controller is based on the
	  DesignWare hardware and therefore the driver re-uses the DesignWare
	  core functions to implement the driver.

config PCI_EXYNOS_CAL_GS101
	tristate "Samsung Exynos PCIe PHY CAL for GS101"
	depends on PCI
	depends on OF
	depends on PCI_MSI_IRQ_DOMAIN
	select PCIE_DW_HOST

